<!-- Start Account Sign In Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <form class="card login-form inner-content" method="post">
                        <div class="card-body">
                            <div class="title">
                                <h3>Book a job Now</h3>
                                <p>Fill the bokking details</p>
                            </div>
                            <div class="input-head">
                                <div class="form-group input-group">
                                    <input class="form-control" name="title" type="text" placeholder="Title*" required="required">
                                </div>
                                <div class="form-group input-group">
                                    <label><i class="lni lni-lock-alt"></i></label>
                                    <input class="form-control" type="password" id="reg-pass"
                                        placeholder="Enter your password" required>
                                </div>
                                <div class="form-group input-group">
                                <textarea placeholder="Description*" name="message" id="message-area"
                                            class="form-control"></textarea>
                                            </div>
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Validate</button>
                            </div>
                                                    </div>
                    </form>
                            <%= simple_form_for @job, url: hrayfya_create_path, method: :post do |f| %>
                              <%= f.input :start_time,
                                  as: :string,
                                  input_html: { data: { controller: "datepicker" } } %>
                                  <%= f.submit "Validate" %>
                            <% end %>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Sign In Area -->
